In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [127]:
df = pd.read_csv(r'C:\Users\Namrata\Desktop\ITU\Fall_2017\Data_Science\u-s-homicide-reports-1980-2014\data.csv', decimal=',')

df.head(5)

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI

In [128]:
df.columns

Index([u'Record ID', u'Agency Code', u'Agency Name', u'Agency Type', u'City',
       u'State', u'Year', u'Month', u'Incident', u'Crime Type',
       u'Crime Solved', u'Victim Sex', u'Victim Age', u'Victim Race',
       u'Victim Ethnicity', u'Perpetrator Sex', u'Perpetrator Age',
       u'Perpetrator Race', u'Perpetrator Ethnicity', u'Relationship',
       u'Weapon', u'Victim Count', u'Perpetrator Count', u'Record Source'],
      dtype='object')

Since the dataset has great amount of mixed data types I am trying to use DEcision Tree ML method on a few selected  attributes(features selection)

In [129]:
# Converting the values of these two columns into binary(1 or 0)

new_df = pd.get_dummies(df, columns = [ 'Victim Race', 'Perpetrator Race'])

In [130]:
new_df.columns

Index([u'Record ID', u'Agency Code', u'Agency Name', u'Agency Type', u'City',
       u'State', u'Year', u'Month', u'Incident', u'Crime Type',
       u'Crime Solved', u'Victim Sex', u'Victim Age', u'Victim Ethnicity',
       u'Perpetrator Sex', u'Perpetrator Age', u'Perpetrator Ethnicity',
       u'Relationship', u'Weapon', u'Victim Count', u'Perpetrator Count',
       u'Record Source', u'Victim Race_Asian/Pacific Islander',
       u'Victim Race_Black', u'Victim Race_Native American/Alaska Native',
       u'Victim Race_Unknown', u'Victim Race_White',
       u'Perpetrator Race_Asian/Pacific Islander', u'Perpetrator Race_Black',
       u'Perpetrator Race_Native American/Alaska Native',
       u'Perpetrator Race_Unknown', u'Perpetrator Race_White'],
      dtype='object')

In [131]:
# REmoving the unwanted columns from the new dataset

new_df.drop(new_df.columns[[0,1,2,3,4,5,6,7,8,9,10,11,13,14,15,16,17,18,19,20,21]], axis=1, inplace=True)

In [132]:
new_df.columns

Index([u'Victim Age', u'Victim Race_Asian/Pacific Islander',
       u'Victim Race_Black', u'Victim Race_Native American/Alaska Native',
       u'Victim Race_Unknown', u'Victim Race_White',
       u'Perpetrator Race_Asian/Pacific Islander', u'Perpetrator Race_Black',
       u'Perpetrator Race_Native American/Alaska Native',
       u'Perpetrator Race_Unknown', u'Perpetrator Race_White'],
      dtype='object')

In [205]:
new_df.head(3)

,Victim Age,Victim Race_Asian/Pacific Islander,Victim Race_Black,Victim Race_Native American/Alaska Native,Victim Race_Unknown,Victim Race_White,Perpetrator Race_Asian/Pacific Islander,Perpetrator Race_Black,Perpetrator Race_Native American/Alaska Native,Perpetrator Race_Unknown,Perpetrator Race_White
0,14,0,0,1,0,0,0,0,1,0,0
1,43,0,0,0,0,1,0,0,0,0,1
2,30,0,0,1,0,0,0,0,0,1,0

In [152]:
X = new_df.drop(['Perpetrator Race_White','Perpetrator Race_Asian/Pacific Islander','Perpetrator Race_Black','Perpetrator Race_Native American/Alaska Native','Perpetrator Race_Unknown'], axis=1)
y_white = new_df['Perpetrator Race_White']
#pd.to_numeric(X)
#pd.to_numeric(y)

In [154]:
# importing the split() function from sklearn

from sklearn.model_selection import train_test_split

X_train, X_test, y_white_train, y_white_test = train_test_split(X, y_white, random_state=1)

In [155]:
X_train.head()

,Victim Age,Victim Race_Asian/Pacific Islander,Victim Race_Black,Victim Race_Native American/Alaska Native,Victim Race_Unknown,Victim Race_White
606159,1,0,0,0,0,1
335471,36,0,0,0,0,1
564317,1,0,0,0,0,1
212579,23,0,1,0,0,0
476093,31,0,1,0,0,0

In [156]:
from sklearn import tree

model = tree.DecisionTreeClassifier()

In [157]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [158]:
model.fit(X_train, y_white_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [161]:
y_white_predict = model.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_white_test, y_white_predict)

0.77863470622877695

In [168]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_white_test, y_white_predict)
    
)

       0      1
0  75512  29600
1   5733  48769

In [162]:
X = new_df.drop(['Perpetrator Race_White','Perpetrator Race_Asian/Pacific Islander','Perpetrator Race_Black','Perpetrator Race_Native American/Alaska Native','Perpetrator Race_Unknown'], axis=1)
y_asian = new_df['Perpetrator Race_Asian/Pacific Islander']

In [163]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_asian_train, y_asian_test = train_test_split(X, y_asian, random_state=1)

In [164]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [165]:
model.fit(X_train, y_asian_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

I have seperately ran the decision tree on each of the Perpetrator Race to find the accuracy of each and then by summing up all the acurracies we get the total accuracy

In [166]:
y_asian_predict = model.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_asian_test, y_asian_predict)

0.99068377460623758

In [167]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_asian_test, y_asian_predict)
    
)

        0    1
0  158013   53
1    1434  114

In [187]:
X = new_df.drop(['Perpetrator Race_White','Perpetrator Race_Asian/Pacific Islander','Perpetrator Race_Black','Perpetrator Race_Native American/Alaska Native','Perpetrator Race_Unknown'], axis=1)
y_black = new_df['Perpetrator Race_Black']

In [193]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_black_train, y_black_test = train_test_split(X, y_black, random_state=1)

In [194]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [195]:
model.fit(X_train, y_asian_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [196]:
y_black_predict = model.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_black_test, y_black_predict)

0.66348816519854148

In [197]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_black_test, y_black_predict)
    
)

        0    1
0  105896  161
1   53551    6

In [198]:
X = new_df.drop(['Perpetrator Race_White','Perpetrator Race_Asian/Pacific Islander','Perpetrator Race_Black','Perpetrator Race_Native American/Alaska Native','Perpetrator Race_Unknown'], axis=1)
y_nat_amr = new_df['Perpetrator Race_Native American/Alaska Native']

In [200]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_nat_amr_train, y_nat_amr_test = train_test_split(X, y_nat_amr, random_state=1)

In [201]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [202]:
model.fit(X_train, y_nat_amr_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [203]:
y_nat_amr_predict = model.predict(X_test)

from sklearn.metrics import accuracy_score

accuracy_score(y_nat_amr_test, y_nat_amr_predict)

0.99438645732830455

In [204]:
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_nat_amr_test, y_nat_amr_predict)
    
)

        0   1
0  158639  49
1     847  79